<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns"http//www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html" charset="utf-8">
    <style type="text/css">
        .ReadMsgBody { width: 100%; }
        .ExternalClass { width: 100%; }
        h2, h3, h4 {    text-transform: uppercase; color: white; }
        h2 {    font-size: 36px;}
        h3 {    font-size: 24px;}
        h4 {    font-size: 18px;}
        .referral { background: beige;}
    </style>
</head>

<body style="margin: 0; padding: 0;">
    <div style='font-size: 0; line-height: 0; height: 0; width: 0;'>
        <img src="<%= Rails.application.config.action_mailer.default_url_options %>/assets/images/fireside-logo-mobile-email.png" alt="Fireside Provisions" style="display: block; margin: 0 auto; padding: 0; border: 0;">
    </div>
    <div class="img-bg" style="background: url('<%= Rails.application.config.action_mailer.default_url_options %>/assets/images/referral-header-mobile.jpg')">
        <h2>Fireside Provisions is Coming</h2>
        <h4>You'll be the first to know</h4>
    </div>
    <div class="referral">
        <h3>Refer Friends, Earn Rewards</h3>
        <p><a href="<%= Rails.application.config.action_mailer.default_url_options + @user.referral_code %>"><%= Rails.application.config.action_mailer.default_url_options || "" %>?ref=<%= @user.referral_code %></a></p>
        <div style="margin-right: 10px;width: 46px;height: 46px;display: inline-block;vertical-align: top;position: relative;border-radius: 5px; ">
        	<img src="<%= Rails.application.config.action_mailer.default_url_options %>/assets/images/facebook-icon.png" alt="Fireside Provisions" style="position: absolute;top: 50%;left: 50%;">
        </div>
        <div style="margin-right: 10px;width: 46px;height: 46px;display: inline-block;vertical-align: top;position: relative;border-radius: 5px; ">
        	<img src="<%= Rails.application.config.action_mailer.default_url_options %>/assets/images/twitter-icon.png" alt="Fireside Provisions" style="position: absolute;top: 50%;left: 50%;">
        </div>
    </div>

    <footer>
    	<div class="links">
    		<a href="http://www.firesideprovisions.com">www.firesideprovisions.com</a>
    		<a href="mailto:info@firesideprovisions.com">info@firesideprovisions.com</a>
    	</div>
    	<div class="copyright">
    		&copy; 2015 Fireside Provisions
    	</div>
    </footer>
    
               
</body>
</html>