
    <div class="refer">
        <div class="wrapper-cont">
            <div class="tagline mobile">
                <p>Food for the outdoors just got real</p>
            </div>
            <div class="cont">
                <a href="http://firesideprovisions.com" target=_blank><%=image_tag("refer-logo.png", :class=> 'logo')%></a>
                <h3>BE A @#$%&! HERO.</h3>
                <h2>INVITE FRIENDS AND BOOST YOUR CHANCES TO WIN</h2>

                <div class="referral-link" onclick="select_all(this)"><span><%= root_url %>?ref=<%= @user.referral_code %></span></div>



                <% twitter_message = "I just entered @FProvisions ski adventure giveaway for a week of gourmet meals & gear worth $4K! You in? #EatPlaySki" %>
                <div class="social-links">
                    <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=FiresideProvisions" class="fb" target="_blank"><i class="fa fa-facebook"></i></a>
                    <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= twitter_message %>" class="twit" target="_blank"><i class="fa fa-twitter"></i></a>
                    <a href="mailto:?&subject=Check out these gourmet meals for the ski season and enter the #EatPlaySki giveaway with me&body=To a fellow ripper,%0D%0A%0D%0AFireside Provisions makes delicious meals for the outdoors and just launched Ski Provisions, a gourmet line for the ski season. To kick things off, they’re doing an awesome giveaway: a 5 day ski adventure featuring a week of gourmet meals, cutting-edge ski gear, and mountain passes, all worth $4K.%0D%0A%0D%0AI just entered. Join me for a chance to win one of three badass prizes: <%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>%0D%0A%0D%0A#EatPlaySki" class="email"><i class="fa fa-envelope"></i></a>
                </div>
                <p>Share your unique link via email, Facebook or Twitter and get extra entries to win for every pal who signs up.</p>
            </div>
        </div>
    </div>


<script>
    function select_all(el) {
        if (typeof window.getSelection != "undefined" && typeof document.createRange != "undefined") {
            var range = document.createRange();
            range.selectNodeContents(el);
            var sel = window.getSelection();
            sel.removeAllRanges();
            sel.addRange(range);
        } else if (typeof document.selection != "undefined" && typeof document.body.createTextRange != "undefined") {
            var textRange = document.body.createTextRange();
            textRange.moveToElementText(el);
            textRange.select();
        }
    }



</script>
