<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6 <%= @bodyId %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7 <%= @bodyId %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 <%= @bodyId %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9 <%= @bodyId %>"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="<%= @bodyId %>"> <!--<![endif]-->
<head>
        <title>Fireside Provisions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <link rel="icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
        <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
        <script src="//use.typekit.net/kfs0zgm.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <%= stylesheet_link_tag "core.css", :media => "all" %>
        <%= csrf_meta_tags %>
        <meta property="og:title" content="Food for the Outdoors just got Real" />
        <meta property="og:site_name" content="Fireside Provisions"/>
        <meta property="og:description" content="Excited for @FiresideProvisions to launch. I’ll be headed #outdoors this summer with great meals, for free! "/>
        <meta property="og:image" content="<%= root_url %>assets/facebook_landscape-7bcf3e7d15f4628516f6966e4a319e8a.jpg"/>
        <meta property="og:url" content="<%= root_url %>"/>
</head>
<body id="<%= @bodyId %>">
    
<%= yield %>


</body>
</html>
